@import '~/styles/base.scss';

.clientCard {
  padding: 2.4rem 2.4rem;
  width: 100%;
  height: 484.5px;
  background: linear-gradient(358.53deg, rgba(0, 0, 0, 0.33) 1.79%, rgba(0, 0, 0, 0) 99.33%),
    var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include fade(fadeIn, ease, 2s, 1, forward);

  @include media('>=tablet') {
    height: 568px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: $base-white;
  height: 100%;
  justify-content: flex-end;

  h3 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h4 {
    font-size: 2.6rem;
    font-weight: 400;
  }

  @include media('>=tablet') {
    h4 {
      font-size: 4.8rem;
    }
  }
}

.actions {
  display: none;
  align-items: center;
  gap: 1.2rem;

  svg {
    cursor: pointer;
  }

  @include media('>=tablet') {
    display: flex;
  }
}
